{% extends 'base.html' %}
{% block content %}

<style type="text/css" media="all">
  .txt{
    margin-top: 10px;
    text-transform: capitalize;
    color: #6b7375;
  }
  .vision{
    font-size: 15px;
    color: #6b7375;
  }
</style>
<p class="text-center fs-1 fw-bold "><b class="border-bottom border-4 border-info">About</b> <b class="text-info ">Us</b></p>
<div class="row">
  <div class="col-sm-6">
    <iframe class="w-100" height="315" src="https://www.youtube.com/embed/4tF44-f3kk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <a href="/student/contact" class="btn btn-outline-info form-control mt-5"><h2>Contact Us</h2></a>
    
  </div>
  <div class="col-sm-6">
    <h1 class="text-dar fw-bold">Welcome To The Azad <b class="border-4 border-info border-bottom">Polytechnic.</b></h1>
    <p class="mt-3 fs-3">
      Azad Polytechnic is an private college.The board shall subject to the provisions of the "U.P. Pravidhic Shiksha Adhiniyam - 1962" and the rules made there under have all such powers as may be necessary for the discharge of its functions and the performance of its duties under this act or the rules or regulations made there under.

    </p>
  </div>
</div>

<div class="row bg-light mt-5">
  <h1 class="text-center fs-1 fw-bold">W<sm class="border-info border-bottom border-4">e <b class="text-info">Belie</sm>ve</b></h1>
  <p class="text-center fs-4 txt">We believe to make Engineer's more reliable for our country </p>
 <div class="col-sm-1"> </div> 
 <div class="col-sm-10"> 
 <h1 class="fw-bold"><b class="border-bottom border-3 border-info">Our</b> Vision</h1>
 <p class="vision">This Polytechnic aims to become a center of Excellence in serving the Technical Education & Training needs of Society. The system & process will be upgraded and improved to make it suitable to the changing needs and to uphold the status of the Polytechnic.</p>
 <br />
  <h1 class="fw-bold fs-1"><b class="border-bottom border-3 border-info">Our</b> Mission</h1>
  <p class="vision">Create conducive learning atmosphere to the students in terms of curricular, co-curricular, personally skills and soft skills. Facilitate the staff development programmes for improvement in the area of Pedagogy, Technical Subject updating, computer usage and Management development</p>
  
   <br />
  <h1 class="fw-bold fs-1"><b class="border-bottom border-3 border-info">Our</b> Work Scope</h1>
  <p class="vision">
    The government job options after Polytechnic includes Junior Engineer, IT Assistant, PSU jobs, Clerk, Technician, etc. BSNL, BHEL, GAIL, Railways, ONGC, DRDO, IPCL, PSU, etc. The last job option for the students after Polytechnic is to start their own company and become self-employed.
  </p>
 </div> 
 <div class="col-sm-1"> </div> 
</div>
{% endblock %}