{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="text-center fs-2 fw-bold">
  Video <b class="text-info">Details</b>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 mb-5">
      
    <div class="row">
     {% for x in vdata %}
      <div class="col-sm-12">
      
      
      <div class="card">
        <iframe class="w-100 img-top-card" style="min-height: 350px;" src="{{x.vlink}}" ></iframe>
        <div class="card-body">
          <h5 class="card-title">{{x.vtitle}}</h5>
          <p>{{x.vdes}}</p>
          <span class="btn btn-sm btn-info">
            <i class="fa-solid fa-calendar-days"></i> {{x.vdate}}
          </span>
         
          
        </div>
      </div>  
        
      </div>
      
      {% endfor %}
      </div>
      </div>
  <div class="col-sm-2"></div>
  </div>

{% endblock %}