{% extends 'base.html' %}
{% block content %}
<h1 class="text-center text-info fw-bold  "><b class="border-dark border-bottom border-3">Faculty</b></h1>

<div class="row justify-content-center">
   {% for i in fdata %}
 <div class="col-sm-3 mx-4 mb-5">
   <div class="card" style="width: 18rem;">
  <img src="/{{i.tpic}}" height="200px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center fs-2">{{i.tname}}</h5>
   <b class="fs-4">Branch : {{i.tbranch}}</b>
  </div>
</div>
    </div> 
    
    {% endfor %}
    </div>
    {% endblock %}