{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center fs-2 fw-bold mb-3">
  Image <b class="text-info">Gallery
<i class="fa-solid fa-image"></i>
</b>
</div>
<div class="row">
  
  <div class="col-sm-12"> 
  <div class="row">
    
    {% for x in data %}
    <div class="col-sm-4 mb-5">
      
      
   <!--start card -->   
   
<div class="card" style="width: 18rem;">
  <img src="/{{x.picture}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center fw-bold">{{x.gdes}}</h5>

  </div>
</div>
   <!--end card -->   
   
   
    </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}